<% show_post ||= false %>

<h4>Comments:</h4>
<% obj.comments.each do |comment| %>
<div class="row">
  <% if logged_in? %>
    <div class='col-md-1 well text-center'>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
        <span class='glyphicon glyphicon-arrow-up'></span>
      <% end %>
      <br>
        <%= comment.total_votes %> votes
      <br>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
        <span class='glyphicon glyphicon-arrow-down'></span>
      <% end %>
    </div>
    <div class="col-md-10 panel panel-default pull-right">
      <div class="panel-body">
        <em>"<%= comment.body %>"</em>
        <% if show_post %>
          <span class='quiet'>on <%= link_to comment.post.title, post_path(comment.post) %></span>
        <% end %>
      </div>
      <% clean_time = date_time_sanitizer(comment.created_at.in_time_zone(current_user.timezone)) if current_user.timezone %>
      <div class="panel-footer">by <%= link_to comment.user.username, user_path %> on <%= clean_time %></div>
    </div>
  <% end %>
</div>
  
<% end %>