<div class='row'>
  <div class='span8 well'>
    <% if post.categories %>
      <%= render post.categories %>
    <% end %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by</span> <%= post.user.username if post.user %>
      <small>on <%= date_time_sanitizer(post.created_at) %></small>
      <br>
      <% if logged_in? %>
        <span class='quiet'><%= link_to 'edit', edit_post_path(post) %></span>
      <% end %>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>