<div class='row'>
  <% if logged_in? %>
    <div class='col-md-1 well text-center'>
      <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
        <span class='glyphicon glyphicon-arrow-up'></span>
      <% end %>
      <br>
        <span class="post-<%= post.id %>-vote-count"><%= post.total_votes %></span> votes
      <br>
      <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
        <span class='glyphicon glyphicon-arrow-down'></span>
      <% end %>
    </div>
  <% end %>
  <div class="<%= post_width_class %>">
    <% if post.categories %>
      <%= render post.categories %>
    <% end %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by</span> <%= post.user.username if post.user %>
      <% if current_user && current_user.timezone %>
        <small>on <%= date_time_sanitizer(post.created_at.in_time_zone(current_user.timezone)) %></small>
      <% end %>
      <br>
      <% if logged_in? %>
        <span class='quiet'><%= link_to 'edit', edit_post_path(post) %></span>
      <% end %>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>