<h3>Welcome!</h3>

<%= render 'shared/content_title', title: "All Posts" %>
<% @posts.each do |post| %>
  <div class='row'>
    <div class='span8 well'>
      <% if post.categories %>
        <%= render post.categories %>
      <% end %>
      <h4><%= link_to post.title, post.url %></h4>
      <p><%= post.description %></p>
      <p>
        <span class='quiet'>posted by</span> <%= post.user.username if post.user %>
        <small>at <%= post.created_at %></small>
        <br>
        <span class='quiet'><%= link_to 'edit', edit_post_path(post) %></span>
      </p>
      <small>
        <span>
          <%= link_to("#{post.comments.size} comments", post_path(post)) %>
        </span>
      </small>
    </div>
  </div>
<% end %>