<p>
  <%= render @post.categories if @post.categories %>
</p>
<%= render 'shared/content_title', title: @post.title %>

<p><%= @post.description %></p>
<% if logged_in? %>
  <%= link_to 'edit post', edit_post_path, class: 'quiet' %>
<%  %>
<p><%= normalize_external_link('More Info', @post.url) %></p>
<hr>
<% if logged_in? %>
  <%= form_for [@post, @comment], html: {class: 'form-horizontal'} do |f| %>
    <%= render 'shared/errors', obj: @comment %>
    <%= f.label :body, "Leave a comment:" %>
    <%= f.text_area :body, rows: '4', class: 'span4 form-control' %>
    <%= f.submit "Create Comment", class: 'btn btn-primary' %>
  <% end %>
<% end %>
<%= link_to '&laquo;go back to all posts'.html_safe, posts_path, class: 'quiet' %>

<h4>Comments:</h4>
<% @post.comments.each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <em>"<%= comment.body %>"</em>
    </div>
    <% clean_time = date_time_sanitizer(comment.created_at) %>
    <div class="panel-footer">by <%= link_to comment.user.username, '#' %> on <%= clean_time %></div>
  </div>
<% end %>